@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-dark-bg text-white font-exo antialiased;
  }
  h1, h2, h3, h4, h5, h6 {
    @apply font-orbitron;
  }
}
